.logo {
  max-width: 160px;
}

hr {
  border: 0; /* Removes default styling */
  border-top: 4px solid #ffffff; /* Change the thickness (4px) and color (#fff) as needed */
  /* Add margin for spacing */
}

.createSpace {
  margin-bottom: 100px;
}

.main-content {
  padding: 50px 20px;
}

h1 {
  font-size: 32px;
  color: #fbc531;
  font-family: sans-serif;
}

h2 {
  font-size: 28px;
  color: #fbc531;
  font-family: sans-serif;
}
h3 {
  font-size: 24px;
  color: #ffffff;
  font-family: sans-serif;
}

.main-content p {
  font-size: 1.25rem;
}

.footer {
  border-top: 1px solid #fff;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}

.footer a {
  color: #fbc531;
  text-decoration: none;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "corbel-light";
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.imgbor {
  border-radius: 100px;
  border-color: #fff;
  background-color: #fff;
  background-size: 200px;
}

.image-container {
  display: inline-block;
  padding: 16px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #000;
}

.card {
  background-color: #fcd913;
  color: black;
  text-align: center;
  height: 100%;
  border: 2px solid #333;
  border-radius: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;

  border-radius: 20px;
}

.form-section {
  margin-bottom: 15px;
}

.form-control {
  max-width: 250px;
  margin: 0 auto;
}

.btn {
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
}

#result {
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.9;
}

.row.g-6 {
  display: flex;
  flex-wrap: wrap;
}

.card1 {
  margin: 0 100px;
}

.card2 {
  margin: 0 100px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

@media (max-width: 768px) {
  .cardspace {
    margin-top: 100px;
  }
  .card1 {
    margin: 0 100px;
  }

  .card2 {
    margin: 0 100px;
  }

  body {
    font-size: 14px !important;
  }
}

@media (max-width: 996px) {
  .card1 {
    margin: 0 20px;
  }

  .card2 {
    margin: 0 20px;
  }
}
